# Stance Detection for the Fake News Challenge

## Identifying Textual Relationships with Deep Neural Nets

### Check the problem context [here](https://drive.google.com/open?id=1KfWaZyQdGBw8AUTacJ2yY86Yxgw2Xwq0).

### Download files required for the project from [here](https://drive.google.com/open?id=10yf39ifEwVihw4xeJJR60oeFBY30Y5J8).

## Step1: Load the given dataset  

1. Mount the google drive

2. Import Glove embeddings

3. Import the test and train datasets

### Mount the google drive to access required project files

Run the below commands

In [0]:
from google.colab import drive

In [2]:
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

#### Path for Project files on google drive

**Note:** You need to change this path according where you have kept the files in google drive.

In [0]:
project_path = "/content/drive/My Drive/NLP/Sequence NLP/Fake News Challenge/"

### Loading the Glove Embeddings

In [0]:
from zipfile import ZipFile
with ZipFile(project_path+'glove.6B.zip', 'r') as z:
  z.extractall()

# Load the dataset [5 Marks]

1. Using [read_csv()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) in pandas load the given train datasets files **`train_bodies.csv`** and **`train_stances.csv`**

2. Using [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) command in pandas merge the two datasets based on the Body ID. 

Note: Save the final merged dataset in a dataframe with name **`dataset`**.

In [0]:
import pandas as pd

In [0]:
train_bodies_df = pd.read_csv(project_path + 'train_bodies.csv')
train_stances_df = pd.read_csv(project_path + 'train_stances.csv')

In [7]:
train_bodies_df.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [8]:
train_stances_df.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [0]:
train_merge_df = pd.merge(train_bodies_df, train_stances_df, on="Body ID")

In [10]:
train_merge_df.head()

   Body ID  ...     Stance
0        0  ...  unrelated
1        0  ...  unrelated
2        0  ...  unrelated
3        0  ...  unrelated
4        0  ...  unrelated

[5 rows x 4 columns]


<h2> Check1:</h2>
  
<h3> You should see the below output if you run `dataset.head()` command as given below </h3>

In [0]:
dataset.head()

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,"Soldier shot, Parliament locked down after gun...",unrelated
1,0,A small meteorite crashed into a wooded area i...,Tourist dubbed ‘Spider Man’ after spider burro...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Luke Somers 'killed in failed rescue attempt i...,unrelated
3,0,A small meteorite crashed into a wooded area i...,BREAKING: Soldier shot at War Memorial in Ottawa,unrelated
4,0,A small meteorite crashed into a wooded area i...,Giant 8ft 9in catfish weighing 19 stone caught...,unrelated

## Step2: Data Pre-processing and setting some hyper parameters needed for model


#### Run the code given below to set the required parameters.

1. `MAX_SENTS` = Maximum no.of sentences to consider in an article.

2. `MAX_SENT_LENGTH` = Maximum no.of words to consider in a sentence.

3. `MAX_NB_WORDS` = Maximum no.of words in the total vocabualry.

4. `MAX_SENTS_HEADING` = Maximum no.of sentences to consider in a heading of an article.

In [0]:
MAX_NB_WORDS = 20000
MAX_SENTS = 20
MAX_SENTS_HEADING = 1
MAX_SENT_LENGTH = 20
VALIDATION_SPLIT = 0.2

### Download the `Punkt` from nltk using the commands given below. This is for sentence tokenization.

For more info on how to use it, read [this](https://stackoverflow.com/questions/35275001/use-of-punktsentencetokenizer-in-nltk).

In [12]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

# Tokenizing the text and loading the pre-trained Glove word embeddings for each token  [5 marks]

Keras provides [Tokenizer API](https://keras.io/preprocessing/text/) for preparing text. Read it before going any further.

#### Import the Tokenizer from keras preprocessing text

In [13]:
import keras
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

#### Initialize the Tokenizer class with maximum vocabulary count as `MAX_NB_WORDS` initialized at the start of step2.

In [0]:
tokenizer = Tokenizer(num_words=MAX_NB_WORDS)

#### Now, using fit_on_texts() from Tokenizer class, lets encode the data 

Note: We need to fit articleBody and Headline also to cover all the words.

In [0]:
tokenizer.fit_on_texts(list(train_merge_df['articleBody'] + train_merge_df['Headline']))

#### fit_on_texts() gives the following attributes in the output as given [here](https://faroit.github.io/keras-docs/1.2.2/preprocessing/text/).

* **word_counts:** dictionary mapping words (str) to the number of times they appeared on during fit. Only set after fit_on_texts was called.

* **word_docs:** dictionary mapping words (str) to the number of documents/texts they appeared on during fit. Only set after fit_on_texts was called.

* **word_index:** dictionary mapping words (str) to their rank/index (int). Only set after fit_on_texts was called.

* **document_count:** int. Number of documents (texts/sequences) the tokenizer was trained on. Only set after fit_on_texts or fit_on_sequences was called.

### Now, tokenize the sentences using nltk sent_tokenize() and encode the sentences with the ids we got form the above `t.word_index`

Initialise 2 lists with names `texts` and `articles`.

```
texts = [] to store text of article as it is.

articles = [] split the above text into a list of sentences.
```

In [0]:
word_idx = tokenizer.word_index
idx_word = tokenizer.index_word

In [0]:
texts = []
articles = []

In [0]:
#from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [0]:
# from nltk.tokenize import word_tokenize
# text = "God is Great! I won a lottery."
# print(word_tokenize(text))

# Output: ['God', 'is', 'Great', '!', 'I', 'won', 'a', 'lottery', '.']

In [0]:
# from nltk.tokenize import sent_tokenize
# text = "God is Great! I won a lottery."
# print(sent_tokenize(text))

# Output: ['God is Great!', 'I won a lottery ']

In [0]:
# sent_text = nltk.sent_tokenize(text) # this gives us a list of sentences
## now loop over each sentence and tokenize it separately
# for sentence in sent_text:
#     tokenized_text = nltk.word_tokenize(sentence)
#     tagged = nltk.pos_tag(tokenized_text)
#     print(tagged)

In [0]:
train_merge_df['articleBody'].dropna(inplace=True)

In [0]:
texts = train_merge_df['articleBody']

In [21]:
texts[0]

'A small meteorite crashed into a wooded area in Nicaragua\'s capital of Managua overnight, the government said Sunday. Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city\'s airport, the Associated Press reports. \n\nGovernment spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth." House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports. \nMurillo said Nicaragua will ask international experts to help local scientists in understanding what happened.\n\nThe crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee. He said it is still not clear if the meteorite disintegrated or was buried.\n\nHumberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.\n\n"We have to study it more because it could be ice or rock," he said.\n\nWilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light. We have to ask if anyone has a photo or something."\n\nLocal residents reported hearing a loud boom Saturday night, but said they didn\'t see anything strange in the sky.\n\n"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast. We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.\n\nThe site of the crater is near Managua\'s international airport and an air force base. Only journalists from state media were allowed to visit it.'

In [0]:
text = texts

In [0]:
def custom_tokenize(text):
    if not text:
        print('The text to be tokenized is a None type. Defaulting to blank string.')
        text = ''
    return nltk.sent_tokenize(text)
train_merge_df['tokenized_column'] = train_merge_df.articleBody.apply(custom_tokenize)

In [0]:
# sent_text = nltk.sent_tokenize(texts)
articles = train_merge_df['tokenized_column']

In [25]:
articles[0]

["A small meteorite crashed into a wooded area in Nicaragua's capital of Managua overnight, the government said Sunday.",
 "Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city's airport, the Associated Press reports.",
 'Government spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth."',
 'House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports.',
 'Murillo said Nicaragua will ask international experts to help local scientists in understanding what happened.',
 'The crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee.',
 'He said it is still not clear if the meteorite disintegrated or was buried.',
 'Humberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.',
 '"We have to study it more because it could be ice or rock," he said.',
 'Wilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light.',
 'We have to ask if anyone has a photo or something."',
 "Local residents reported hearing a loud boom Saturday night, but said they didn't see anything strange in the sky.",
 '"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast.',
 'We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.',
 "The site of the crater is near Managua's international airport and an air force base.",
 'Only journalists from state media were allowed to visit it.']

## Check 2:

first element of texts and articles should be as given below.

In [0]:
texts[0]

'A small meteorite crashed into a wooded area in Nicaragua\'s capital of Managua overnight, the government said Sunday. Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city\'s airport, the Associated Press reports. \n\nGovernment spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth." House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports. \nMurillo said Nicaragua will ask international experts to help local scientists in understanding what happened.\n\nThe crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee. He said it is still not clear if the meteorite disintegrated or was buried.\n\nHumberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.\n\n"We have to study it more because it could be ice or rock," he said.\n\nWilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light. We have to ask if anyone has a photo or something."\n\nLocal residents reported hearing a loud boom Saturday night, but said they didn\'t see anything strange in the sky.\n\n"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast. We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.\n\nThe site of the crater is near Managua\'s international airport and an air force base. Only journalists from state media were allowed to visit it.'

In [63]:
articles[0]

["A small meteorite crashed into a wooded area in Nicaragua's capital of Managua overnight, the government said Sunday.",
 "Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city's airport, the Associated Press reports.",
 'Government spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth."',
 'House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports.',
 'Murillo said Nicaragua will ask international experts to help local scientists in understanding what happened.',
 'The crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee.',
 'He said it is still not clear if the meteorite disintegrated or was buried.',
 'Humberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.',
 '"We have to study it more because it could be ice or rock," he said.',
 'Wilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light.',
 'We have to ask if anyone has a photo or something."',
 "Local residents reported hearing a loud boom Saturday night, but said they didn't see anything strange in the sky.",
 '"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast.',
 'We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.',
 "The site of the crater is near Managua's international airport and an air force base.",
 'Only journalists from state media were allowed to visit it.']

In [26]:
len(articles[0])

16

In [27]:
articles[0][0]

"A small meteorite crashed into a wooded area in Nicaragua's capital of Managua overnight, the government said Sunday."

In [28]:
articles[0][1]

"Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city's airport, the Associated Press reports."

In [0]:
from keras.preprocessing.text import text_to_word_sequence

In [0]:
words = text_to_word_sequence(articles[0][0])

In [31]:
words

['a',
 'small',
 'meteorite',
 'crashed',
 'into',
 'a',
 'wooded',
 'area',
 'in',
 "nicaragua's",
 'capital',
 'of',
 'managua',
 'overnight',
 'the',
 'government',
 'said',
 'sunday']

In [0]:
words_encoding = tokenizer.texts_to_sequences(words)

In [33]:
words_encoding

[[3],
 [485],
 [433],
 [7204],
 [81],
 [3],
 [3732],
 [331],
 [5],
 [3888],
 [350],
 [4],
 [1432],
 [2956],
 [1],
 [89],
 [12],
 [464]]

# Now iterate through each article and each sentence to encode the words into ids using t.word_index  [5 marks] 

Here, to get words from sentence you can use `text_to_word_sequence` from keras preprocessing text.

1. Import text_to_word_sequence

2. Initialize a variable of shape (no.of articles, MAX_SENTS, MAX_SENT_LENGTH) with name `data` with zeros first (you can use numpy [np.zeros](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html) to initialize with all zeros)and then update it while iterating through the words and sentences in each article.

In [0]:
import numpy as np

In [0]:
count_row = train_merge_df.shape[0]  # gives number of row count
count_col = train_merge_df.shape[1]  # gives number of col count

In [36]:
count_row

49972

In [0]:
data = np.zeros((count_row, MAX_SENTS, MAX_SENT_LENGTH), dtype=int)

In [38]:
data.shape

(49972, 20, 20)

In [39]:
data[0][:][:]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [40]:
data[0, :, :]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [41]:
tokenizer.word_index

{'the': 1,
 'to': 2,
 'a': 3,
 'of': 4,
 'in': 5,
 'and': 6,
 'that': 7,
 'is': 8,
 'was': 9,
 'on': 10,
 'for': 11,
 'said': 12,
 'he': 13,
 'with': 14,
 'it': 15,
 'his': 16,
 'have': 17,
 'as': 18,
 'by': 19,
 'has': 20,
 'at': 21,
 'from': 22,
 'be': 23,
 'an': 24,
 'not': 25,
 'are': 26,
 'been': 27,
 'but': 28,
 'who': 29,
 '”': 30,
 'this': 31,
 'had': 32,
 'they': 33,
 'after': 34,
 'i': 35,
 'were': 36,
 'we': 37,
 'will': 38,
 'about': 39,
 'one': 40,
 'or': 41,
 'isis': 42,
 'which': 43,
 'video': 44,
 'she': 45,
 'apple': 46,
 'state': 47,
 'up': 48,
 'her': 49,
 'would': 50,
 'their': 51,
 'more': 52,
 'also': 53,
 'when': 54,
 'told': 55,
 'new': 56,
 'out': 57,
 'no': 58,
 'all': 59,
 'people': 60,
 'there': 61,
 'you': 62,
 'its': 63,
 'if': 64,
 'him': 65,
 'man': 66,
 'news': 67,
 'islamic': 68,
 'could': 69,
 'what': 70,
 'year': 71,
 'watch': 72,
 'time': 73,
 'al': 74,
 'over': 75,
 'some': 76,
 'group': 77,
 'according': 78,
 's': 79,
 'u': 80,
 'into': 81,
 'first': 82,
 'so': 83,
 'being': 84,
 'reports': 85,
 'just': 86,
 'last': 87,
 'syria': 88,
 'government': 89,
 'police': 90,
 '—': 91,
 'two': 92,
 'us': 93,
 'them': 94,
 'reported': 95,
 'kim': 96,
 'while': 97,
 'any': 98,
 'other': 99,
 'media': 100,
 'like': 101,
 'than': 102,
 'before': 103,
 'then': 104,
 'north': 105,
 'american': 106,
 'can': 107,
 'now': 108,
 'report': 109,
 'says': 110,
 'may': 111,
 'story': 112,
 'foley': 113,
 'iraq': 114,
 'where': 115,
 'my': 116,
 'made': 117,
 'killed': 118,
 'even': 119,
 'because': 120,
 'against': 121,
 'militants': 122,
 'do': 123,
 'since': 124,
 'old': 125,
 'only': 126,
 'security': 127,
 'officials': 128,
 'off': 129,
 'say': 130,
 'our': 131,
 'city': 132,
 'three': 133,
 'years': 134,
 'brown': 135,
 'border': 136,
 'how': 137,
 'back': 138,
 'during': 139,
 'name': 140,
 'claims': 141,
 'boko': 142,
 'another': 143,
 'around': 144,
 '000': 145,
 'get': 146,
 'jong': 147,
 'still': 148,
 'official': 149,
 'haram': 150,
 'through': 151,
 'world': 152,
 'journalist': 153,
 'air': 154,
 'leader': 155,
 'including': 156,
 'under': 157,
 'near': 158,
 'twitter': 159,
 "it's": 160,
 'many': 161,
 'family': 162,
 'see': 163,
 'reportedly': 164,
 'did': 165,
 'death': 166,
 'found': 167,
 'week': 168,
 'ebola': 169,
 'fighters': 170,
 'mr': 171,
 'military': 172,
 'those': 173,
 'iraqi': 174,
 'confirmed': 175,
 'post': 176,
 'day': 177,
 'girls': 178,
 'your': 179,
 'however': 180,
 'most': 181,
 'life': 182,
 'british': 183,
 'statement': 184,
 "'": 185,
 'house': 186,
 'michael': 187,
 'left': 188,
 'obama': 189,
 'released': 190,
 'going': 191,
 'down': 192,
 'woman': 193,
 'shooting': 194,
 'very': 195,
 '–': 196,
 'it’s': 197,
 'went': 198,
 'service': 199,
 'release': 200,
 'forces': 201,
 '2014': 202,
 'know': 203,
 'known': 204,
 'james': 205,
 'me': 206,
 'month': 207,
 'tuesday': 208,
 'shot': 209,
 'days': 210,
 'well': 211,
 'missing': 212,
 'make': 213,
 'least': 214,
 'source': 215,
 'way': 216,
 'these': 217,
 'president': 218,
 'public': 219,
 'kurdish': 220,
 'times': 221,
 'taken': 222,
 'part': 223,
 'attack': 224,
 'seen': 225,
 'next': 226,
 'syrian': 227,
 'health': 228,
 'believed': 229,
 'monday': 230,
 'later': 231,
 'several': 232,
 'war': 233,
 'company': 234,
 'town': 235,
 'hospital': 236,
 'took': 237,
 '10': 238,
 'information': 239,
 'heard': 240,
 'posted': 241,
 'saying': 242,
 'press': 243,
 'used': 244,
 'six': 245,
 'korean': 246,
 'intelligence': 247,
 'claimed': 248,
 'captured': 249,
 'photo': 250,
 'sources': 251,
 'show': 252,
 'york': 253,
 'son': 254,
 'site': 255,
 'such': 256,
 'un': 257,
 'never': 258,
 'shots': 259,
 'local': 260,
 'long': 261,
 'home': 262,
 'high': 263,
 'something': 264,
 'john': 265,
 'come': 266,
 'think': 267,
 'much': 268,
 'wednesday': 269,
 'ago': 270,
 '12': 271,
 'though': 272,
 'former': 273,
 'both': 274,
 'night': 275,
 'million': 276,
 'added': 277,
 'called': 278,
 'facebook': 279,
 'audio': 280,
 'take': 281,
 'dead': 282,
 'same': 283,
 'inside': 284,
 '2': 285,
 'right': 286,
 'country': 287,
 'officer': 288,
 'held': 289,
 'number': 290,
 'between': 291,
 'white': 292,
 'office': 293,
 'earlier': 294,
 'cnn': 295,
 'work': 296,
 'go': 297,
 'father': 298,
 'thomas': 299,
 'social': 300,
 'head': 301,
 'online': 302,
 'based': 303,
 'real': 304,
 '1': 305,
 'recording': 306,
 'claim': 307,
 'national': 308,
 'wilson': 309,
 'across': 310,
 '11': 311,
 'kidnapped': 312,
 'jobs': 313,
 'control': 314,
 'set': 315,
 'friends': 316,
 'use': 317,
 'daily': 318,
 'spokesman': 319,
 'mosul': 320,
 'recent': 321,
 '2012': 322,
 'shows': 323,
 'korea': 324,
 'com': 325,
 'yet': 326,
 'should': 327,
 'militant': 328,
 'front': 329,
 'person': 330,
 'area': 331,
 'youtube': 332,
 'airstrikes': 333,
 'appears': 334,
 'past': 335,
 'members': 336,
 'came': 337,
 'put': 338,
 'united': 339,
 'thought': 340,
 'gold': 341,
 'london': 342,
 'parliament': 343,
 'website': 344,
 '“the': 345,
 'states': 346,
 'today': 347,
 'article': 348,
 'died': 349,
 'capital': 350,
 'international': 351,
 'weapons': 352,
 'case': 353,
 'appeared': 354,
 'emwazi': 355,
 'might': 356,
 'asked': 357,
 'street': 358,
 'canadian': 359,
 '2015': 360,
 'until': 361,
 'fired': 362,
 'end': 363,
 'alleged': 364,
 'months': 365,
 'school': 366,
 'help': 367,
 'south': 368,
 'good': 369,
 'few': 370,
 'four': 371,
 'want': 372,
 'fact': 373,
 '“i': 374,
 'second': 375,
 'whether': 376,
 'students': 377,
 'away': 378,
 'tv': 379,
 'working': 380,
 'own': 381,
 'steve': 382,
 'using': 383,
 'message': 384,
 'god': 385,
 'washington': 386,
 'again': 387,
 'allegedly': 388,
 'comment': 389,
 'building': 390,
 'likely': 391,
 'got': 392,
 '9': 393,
 'spider': 394,
 'early': 395,
 'making': 396,
 'hit': 397,
 'wrote': 398,
 'hoax': 399,
 'store': 400,
 'each': 401,
 'place': 402,
 'recently': 403,
 'nigerian': 404,
 'weeks': 405,
 'department': 406,
 'find': 407,
 'thursday': 408,
 'trying': 409,
 'announced': 410,
 'really': 411,
 'car': 412,
 'rumors': 413,
 'following': 414,
 '5': 415,
 'friday': 416,
 'does': 417,
 'young': 418,
 'five': 419,
 'internet': 420,
 'coming': 421,
 'given': 422,
 'attacks': 423,
 'hands': 424,
 'already': 425,
 'september': 426,
 'west': 427,
 'iphone': 428,
 'men': 429,
 'august': 430,
 'terror': 431,
 'identified': 432,
 'meteorite': 433,
 'lot': 434,
 'wife': 435,
 'late': 436,
 '“we': 437,
 'women': 438,
 'here': 439,
 'incident': 440,
 'led': 441,
 'big': 442,
 '2011': 443,
 'fighting': 444,
 'image': 445,
 '2013': 446,
 'true': 447,
 'fire': 448,
 'airport': 449,
 'caught': 450,
 'actually': 451,
 'videos': 452,
 'why': 453,
 'texas': 454,
 'further': 455,
 'comes': 456,
 'named': 457,
 'baghdadi': 458,
 'live': 459,
 'fake': 460,
 'david': 461,
 'reporting': 462,
 'newspaper': 463,
 'sunday': 464,
 'force': 465,
 'bale': 466,
 'strikes': 467,
 'himself': 468,
 'apparently': 469,
 'whose': 470,
 'black': 471,
 'outside': 472,
 'page': 473,
 'among': 474,
 'free': 475,
 'morning': 476,
 'despite': 477,
 'marijuana': 478,
 'taking': 479,
 'director': 480,
 'boy': 481,
 'terrorist': 482,
 'authorities': 483,
 'medical': 484,
 'small': 485,
 'believe': 486,
 '6': 487,
 'friend': 488,
 'children': 489,
 'film': 490,
 'too': 491,
 'full': 492,
 '20': 493,
 'happened': 494,
 'chief': 495,
 'beheading': 496,
 'kobani': 497,
 'without': 498,
 'face': 499,
 'rosenberg': 500,
 'via': 501,
 'islam': 502,
 'doctors': 503,
 'began': 504,
 'food': 505,
 'far': 506,
 'ottawa': 507,
 'body': 508,
 'anyone': 509,
 'point': 510,
 'large': 511,
 'amazon': 512,
 'account': 513,
 'decided': 514,
 'confirm': 515,
 'close': 516,
 'don’t': 517,
 'law': 518,
 'look': 519,
 'ever': 520,
 'started': 521,
 'co': 522,
 'power': 523,
 'little': 524,
 'possible': 525,
 'abu': 526,
 '100': 527,
 'ferguson': 528,
 'event': 529,
 'saturday': 530,
 'western': 531,
 'child': 532,
 'open': 533,
 'born': 534,
 'prime': 535,
 'revealed': 536,
 'mother': 537,
 'gave': 538,
 'money': 539,
 'aid': 540,
 'clear': 541,
 'details': 542,
 'dog': 543,
 'nigeria': 544,
 'stop': 545,
 'device': 546,
 'cases': 547,
 'hours': 548,
 'sure': 549,
 'instead': 550,
 'arrested': 551,
 'become': 552,
 'smith': 553,
 'daughter': 554,
 'associated': 555,
 'start': 556,
 'play': 557,
 'army': 558,
 'israeli': 559,
 'expected': 560,
 'northern': 561,
 'due': 562,
 'parents': 563,
 '40': 564,
 'enough': 565,
 'once': 566,
 'thing': 567,
 'although': 568,
 'showed': 569,
 'able': 570,
 '4': 571,
 'violence': 572,
 'banksy': 573,
 'saw': 574,
 'soldiers': 575,
 'minister': 576,
 'mark': 577,
 'interview': 578,
 'things': 579,
 'pause': 580,
 'fight': 581,
 'users': 582,
 'deal': 583,
 'foreign': 584,
 'isil': 585,
 '18': 586,
 'secret': 587,
 'skin': 588,
 'paul': 589,
 'human': 590,
 'middle': 591,
 'ceasefire': 592,
 'officers': 593,
 'launch': 594,
 'macbook': 595,
 'turned': 596,
 '8': 597,
 'fbi': 598,
 'showing': 599,
 'ground': 600,
 'star': 601,
 'almost': 602,
 'de': 603,
 'tour': 604,
 'role': 605,
 'others': 606,
 'along': 607,
 'order': 608,
 'looking': 609,
 'probably': 610,
 'call': 611,
 'behind': 612,
 'center': 613,
 'pope': 614,
 'read': 615,
 'investigation': 616,
 'ministry': 617,
 'give': 618,
 'party': 619,
 'operation': 620,
 'spice': 621,
 'having': 622,
 'heart': 623,
 'agency': 624,
 'policy': 625,
 'conference': 626,
 'change': 627,
 'woods': 628,
 'libya': 629,
 'hostages': 630,
 'senior': 631,
 'east': 632,
 'run': 633,
 'bibeau': 634,
 'rights': 635,
 '3': 636,
 'comcast': 637,
 'homeless': 638,
 'immediately': 639,
 'holding': 640,
 'brother': 641,
 'soon': 642,
 'april': 643,
 'every': 644,
 'blumenthal': 645,
 'photos': 646,
 'centre': 647,
 'suspected': 648,
 'currently': 649,
 "don't": 650,
 'support': 651,
 'actor': 652,
 'killing': 653,
 'murder': 654,
 'nothing': 655,
 'price': 656,
 'hunter': 657,
 'terrorists': 658,
 'christian': 659,
 'decision': 660,
 'top': 661,
 'november': 662,
 'move': 663,
 '200': 664,
 'evidence': 665,
 'witnesses': 666,
 'am': 667,
 'inch': 668,
 'follow': 669,
 'zehaf': 670,
 'level': 671,
 'francis': 672,
 'sotloff': 673,
 'phone': 674,
 'schoolgirls': 675,
 'names': 676,
 'sister': 677,
 'kind': 678,
 'hand': 679,
 'suspect': 680,
 'america': 681,
 'animals': 682,
 'memorial': 683,
 'jihadi': 684,
 'previously': 685,
 'virus': 686,
 'water': 687,
 'girl': 688,
 'talks': 689,
 'thousands': 690,
 'reuters': 691,
 '13': 692,
 'wanted': 693,
 'stolen': 694,
 'wright': 695,
 'version': 696,
 'staff': 697,
 'crater': 698,
 'major': 699,
 "didn't": 700,
 'done': 701,
 'attorney': 702,
 'google': 703,
 'pumpkin': 704,
 'hostage': 705,
 'january': 706,
 'mohammed': 707,
 'love': 708,
 'tell': 709,
 'wearing': 710,
 'carried': 711,
 'situation': 712,
 'uk': 713,
 'seems': 714,
 'mass': 715,
 '22': 716,
 'need': 717,
 'plans': 718,
 'trip': 719,
 'baby': 720,
 'planes': 721,
 'movie': 722,
 'leave': 723,
 'detained': 724,
 'lin': 725,
 'general': 726,
 'continued': 727,
 'described': 728,
 'spoke': 729,
 'campaign': 730,
 'images': 731,
 'edition': 732,
 'soldier': 733,
 'condition': 734,
 'islamist': 735,
 'within': 736,
 'must': 737,
 'weekend': 738,
 'saudi': 739,
 'reached': 740,
 'contact': 741,
 'that’s': 742,
 'running': 743,
 'mexico': 744,
 'didn’t': 745,
 '30': 746,
 'identity': 747,
 'rumor': 748,
 'october': 749,
 'mail': 750,
 '24': 751,
 'organization': 752,
 'drug': 753,
 'problem': 754,
 'female': 755,
 'pentagon': 756,
 'residents': 757,
 'issue': 758,
 'someone': 759,
 'returned': 760,
 'threat': 761,
 'getting': 762,
 'masked': 763,
 'best': 764,
 'birth': 765,
 'user': 766,
 'continue': 767,
 'outlets': 768,
 'keep': 769,
 'different': 770,
 'date': 771,
 'doing': 772,
 'picture': 773,
 'living': 774,
 'impact': 775,
 'earth': 776,
 'experts': 777,
 '7': 778,
 'boston': 779,
 'johnson': 780,
 'action': 781,
 'english': 782,
 '15': 783,
 'qaeda': 784,
 'related': 785,
 'viral': 786,
 'remains': 787,
 'camera': 788,
 'africa': 789,
 'extremist': 790,
 'important': 791,
 'update': 792,
 'vice': 793,
 'received': 794,
 'latest': 795,
 'university': 796,
 'often': 797,
 'gang': 798,
 'business': 799,
 'authenticity': 800,
 'station': 801,
 'minutes': 802,
 'penis': 803,
 'job': 804,
 'everything': 805,
 'st': 806,
 'scotland': 807,
 'false': 808,
 'february': 809,
 'southern': 810,
 'vogue': 811,
 'pro': 812,
 'beheaded': 813,
 'private': 814,
 'vehicle': 815,
 'kobane': 816,
 'member': 817,
 'meeting': 818,
 'footage': 819,
 'hill': 820,
 'dozens': 821,
 'central': 822,
 'seven': 823,
 "that's": 824,
 'similar': 825,
 '25': 826,
 'sex': 827,
 'scene': 828,
 'low': 829,
 'speaking': 830,
 'haines': 831,
 'lebanese': 832,
 'seized': 833,
 'great': 834,
 'december': 835,
 'claiming': 836,
 'suffering': 837,
 'nearly': 838,
 'caused': 839,
 'became': 840,
 'services': 841,
 'spent': 842,
 'quickly': 843,
 'steven': 844,
 'arms': 845,
 'justice': 846,
 'court': 847,
 'launched': 848,
 'dropped': 849,
 'aircraft': 850,
 'customers': 851,
 'spread': 852,
 'met': 853,
 'network': 854,
 'region': 855,
 'makes': 856,
 'bbc': 857,
 '14': 858,
 'moment': 859,
 'alive': 860,
 'knew': 861,
 'stopped': 862,
 'removed': 863,
 'main': 864,
 'space': 865,
 'safe': 866,
 'strike': 867,
 'march': 868,
 'surgery': 869,
 'shared': 870,
 'yo': 871,
 'm': 872,
 'age': 873,
 'king': 874,
 'published': 875,
 'market': 876,
 'less': 877,
 'line': 878,
 'comments': 879,
 'felt': 880,
 'sell': 881,
 'game': 882,
 'kurds': 883,
 'bary': 884,
 'arrest': 885,
 'abducted': 886,
 'josh': 887,
 'expert': 888,
 'everyone': 889,
 'multiple': 890,
 'anything': 891,
 'lost': 892,
 'cut': 893,
 'vickers': 894,
 '31': 895,
 'room': 896,
 'television': 897,
 'tape': 898,
 'bakr': 899,
 'june': 900,
 'jordanian': 901,
 'series': 902,
 'groups': 903,
 'guard': 904,
 'instagram': 905,
 'lives': 906,
 'worker': 907,
 'olsen': 908,
 'pga': 909,
 'apartment': 910,
 'gunman': 911,
 'batmobile': 912,
 'muslims': 913,
 'leadership': 914,
 'available': 915,
 'discovered': 916,
 'team': 917,
 'fighter': 918,
 'culkin': 919,
 'either': 920,
 'journalists': 921,
 '“it': 922,
 'denied': 923,
 'experience': 924,
 'pyongyang': 925,
 'key': 926,
 'nearby': 927,
 'fall': 928,
 'involved': 929,
 'return': 930,
 'fox': 931,
 'followed': 932,
 'capture': 933,
 'app': 934,
 'web': 935,
 'book': 936,
 'below': 937,
 'tweeted': 938,
 'gone': 939,
 'sent': 940,
 'door': 941,
 'symptoms': 942,
 'cause': 943,
 'charge': 944,
 'adding': 945,
 'single': 946,
 'bit': 947,
 'mike': 948,
 'somalia': 949,
 'pretty': 950,
 'leading': 951,
 'perhaps': 952,
 'offices': 953,
 'godane': 954,
 'abdel': 955,
 'blog': 956,
 'cost': 957,
 "he's": 958,
 'victims': 959,
 'turkey': 960,
 'model': 961,
 'areas': 962,
 'ran': 963,
 'jets': 964,
 'miles': 965,
 'verified': 966,
 'sorkin': 967,
 "apple's": 968,
 'percent': 969,
 'coalition': 970,
 'asteroid': 971,
 'doesn’t': 972,
 'sold': 973,
 'side': 974,
 'married': 975,
 'jihadists': 976,
 'appear': 977,
 'spokesperson': 978,
 'defense': 979,
 'jihadist': 980,
 'cook': 981,
 'duncan': 982,
 'magazine': 983,
 'americans': 984,
 'recorded': 985,
 "doesn't": 986,
 'course': 987,
 'wintour': 988,
 'disease': 989,
 'shekau': 990,
 '’': 991,
 'hear': 992,
 'israel': 993,
 'means': 994,
 'priest': 995,
 'created': 996,
 'hard': 997,
 '26': 998,
 'reporter': 999,
 'worked': 1000,
 ...}

In [42]:
tokenizer.word_index['somalia']

949

In [0]:
exc = []
for i, sentences in enumerate(articles):
  for j, sent in enumerate(sentences):
    if j < MAX_SENTS:
      wordTokens = text_to_word_sequence(sent)
      k = 0
      for _, word in enumerate(wordTokens):
        try:
          if k < MAX_SENT_LENGTH and tokenizer.word_index[word] < MAX_NB_WORDS:
            data[i, j, k] = tokenizer.word_index[word]
            k = k + 1
        except:
          exc.append(word)
          pass

In [44]:
data[0, :, :]

array([[    3,   485,   433,  7204,    81,     3,  3732,   331,     5,
         3888,   350,     4,  1432,  2956,     1,    89,    12,   464,
            0,     0],
       [  757,    95,  1045,     3,  2675,  1750,     7,   188,     3,
         1217,  1074,  2026,   698,   158,     1,  3029,   449,     1,
          555,   243],
       [   89,  1065,  4111,  2345,    12,     3,  1092,  3300,    19,
            1,    89,     2,  1791,     1,   529,  2005,    15,     9,
            3,  3107],
       [  186,  3639,   971,   202,  2553,    43,  6770,  1719,  1250,
            5, 13306, 17921,     1,   776,    31,   738,  3986,    67,
           85,     0],
       [ 2345,    12,  1584,    38,  1094,   351,   777,     2,   367,
          260,  1775,     5,  4447,    70,   494,     0,     0,     0,
            0,     0],
       [    1,   698,   188,    19,     1,   433,    32,     3,  7411,
            4,  2256,  1250,     6,     3,  5266,     4,  1217,  1250,
           12,  3359],
       [   13,    12,    15,     8,   148,    25,   541,    64,     1,
          433,  3726,    41,     9,  1848,     0,     0,     0,     0,
            0,     0],
       [ 3359,  5729,     4,     1,  5869,   613,    21,     1,   308,
         3432,   796,     4,  1584,    12,     1,   433,    69,    23,
          785,     2],
       [   37,    17,     2,  1791,    15,    52,   120,    15,    69,
           23,  4916,    41,  1960,    13,    12,     0,     0,     0,
            0,     0],
       [ 4733,  3334,    24,  3965,     2,     1,  1314,     4,  3067,
         1651,    12,    15,     9,   195,  1423,     7,    58,    40,
           95,     3],
       [   37,    17,     2,  1094,    64,   509,    20,     3,   250,
           41,   264,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  260,   757,    95,  1045,     3,  1804,  1750,   530,   275,
           28,    12,    33,   700,   163,   891,  1423,     5,     1,
         2078,     0],
       [   35,     9,  2057,    10,   116,  5820,     6,    35,   574,
          655,   104,    59,     4,     3,  2407,    35,   240,     3,
          511,  1910],
       [   37,   340,    15,     9,     3,  2079,   120,    37,   880,
           24,  4448,  2581,  4315,  4917,    55,     1,   555,   243,
            0,     0],
       [    1,   255,     4,     1,   698,     8,   158,  3957,   351,
          449,     6,    24,   154,   465,  1926,     0,     0,     0,
            0,     0],
       [  126,   921,    22,    47,   100,    36,  1832,     2,  1212,
           15,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0]])

In [0]:
#words_all = []
#data_list = []

In [0]:
#from keras.preprocessing import text, sequence
#from keras.preprocessing.sequence import pad_sequences

In [0]:
#for i in range(0, count_row-1):
#  for j in range(0, len(articles[i])):
#    words_all.append(text_to_word_sequence(articles[i][j]))
    #data_list.append(tokenizer.texts_to_sequences(words_all))

In [0]:
#data_list = tokenizer.texts_to_sequences(words_all)

In [0]:
#data_list = sequence.pad_sequences(data_list, maxlen=MAX_SENT_LENGTH)

In [0]:
#data_list.shape

(816000, 20)

In [45]:
data.shape

(49972, 20, 20)

In [0]:
#data_list_reshape = np.reshape(data_list, (-1, 20, 20))

In [50]:
#data_list_reshape.shape

(40800, 20, 20)

In [0]:
#data = data_list_reshape

In [52]:
#data.shape

(40800, 20, 20)

### Check 3:

Accessing first element in data should give something like given below.

In [0]:
data[0, :, :]

array([[    3,   487,   474,  7113,    79,     3,  3687,   325,     5,
         4200,   361,     4,  1525,  2913,     1,    89,    12,   451,
            0,     0],
       [  743,    96,  1044,     3,  2814,  1759,     7,   186,     3,
         1219,  1070,  1987,   736,   154,     1,  2990,   458,     1,
          543,   232],
       [   89,  1052,  4057,  2314,    12,     3,  1073,  3248,    19,
            1,    89,     2,  1751,     1,   518,  1980,    15,     9,
            3,  2879],
       [  182,  3691,   976,   196,  2515,    42,  6688,  1691,  1227,
            5, 13011, 17379,     1,   762,    30,   722,  3931,    66,
           87,     0],
       [ 2314,    12,  1882,    38,  1076,   346,   793,     2,   356,
          261,  1782,     5,  4396,    67,   486,     0,     0,     0,
            0,     0],
       [    1,   736,   186,    19,     1,   474,    32,     3,  7307,
            4,  2122,  1227,     6,     3,  5195,     4,  1219,  1227,
           12,  3308],
       [   13,    12,    15,     8,   143,    25,   531,    63,     1,
          474,  3679,    41,     9,  1825,     0,     0,     0,     0,
            0,     0],
       [ 3308,  5643,     4,     1,  5788,   620,    22,     1,   302,
         3125,   786,     4,  1882,    12,     1,   474,    70,    23,
          801,     2],
       [   35,    17,     2,  1751,    15,    54,   119,    15,    70,
           23,  4850,    41,  1885,    13,    12,     0,     0,     0,
            0,     0],
       [ 4664,  3279,    24,  3915,     2,     1,  1298,     4,  3028,
         1630,    12,    15,     9,   187,  1423,     7,    56,    40,
           96,     3],
       [   35,    17,     2,  1076,    63,   497,    20,     3,   252,
           41,   260,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  261,   743,    96,  1044,     3,  1765,  1759,   520,   273,
           29,    12,    33,   702,   160,   818,  1423,     5,     1,
         2068,     0],
       [   34,     9,  2035,    10,   112,  5741,     6,    34,   562,
          644,   104,    57,     4,     3,  2382,    34,   238,     3,
          504,  1922],
       [   35,   341,    15,     9,     3,  2053,   119,    35,   872,
           24,  4397,  2541,  4258,  4851,    55,     1,   543,   232,
            0,     0],
       [    1,   254,     4,     1,   736,     8,   154,  4116,   346,
          458,     6,    24,   152,   460,  1908,     0,     0,     0,
            0,     0],
       [  124,   896,    21,    48,   102,    37,  1803,     2,  1195,
           15,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0]], dtype=int32)

# Repeat the same process for the `Headings` as well. Use variables with names `texts_heading` and `articles_heading` accordingly. [5 marks]

In [0]:
texts_heading = []
articles_heading = []

In [0]:
train_merge_df['Headline'].dropna(inplace=True)

In [0]:
texts_heading = train_merge_df['Headline']

In [49]:
texts_heading[0]

'Soldier shot, Parliament locked down after gunfire erupts at war memorial'

In [0]:
text_heading = texts_heading

In [0]:
def custom_tokenize(text_heading):
    if not text_heading:
        print('The text to be tokenized is a None type. Defaulting to blank string.')
        text_heading = ''
    return nltk.sent_tokenize(text_heading)
train_merge_df['tokenized_heading_column'] = train_merge_df.Headline.apply(custom_tokenize)

In [0]:
# sent_text = nltk.sent_tokenize(texts)
articles_heading = train_merge_df['tokenized_heading_column']

In [53]:
articles_heading

0        [Soldier shot, Parliament locked down after gu...
1        [Tourist dubbed ‘Spider Man’ after spider burr...
2        [Luke Somers 'killed in failed rescue attempt ...
3        [BREAKING: Soldier shot at War Memorial in Ott...
4        [Giant 8ft 9in catfish weighing 19 stone caugh...
5        [Enormous 20-stone catfish caught with fishing...
6        [Italian catches huge wels catfish; is it a re...
7        [Not coming to a store near you: The pumpkin s...
8        [One gunman killed in shooting on Parliament H...
9                 [Soldier shot at war memorial in Canada]
10       [Surreal Photos of Fisherman’s Jaw-Dropping Ca...
11       [Fisherman lands 19 STONE catfish which could ...
12         [Source: Tom Brokaw Wants Brian Williams Fired]
13       [A soldier has been shot at Canada’s war memor...
14       [280 Pound Catfish: Fisherman Makes Huge Catch...
15       [Rumor debunked: RoboCop-style robots are not ...
16       [Caught a catfish record in Po: 127 kg and 2.6...
17       [Monster catfish which looks big enough to swa...
18       [Luke Somers' sister says he was killed in fai...
19       [Apple Watch to Be Shower-Proof, Have 100,000 ...
20        [Soldier shot near Canadian parliament building]
21                [Soldier shot in Ottawa at War Memorial]
22       [Soldier shot at War Memorial; multiple shots ...
23       [Comcast Is Threatening To Cut Off Customers W...
24       [Small Meteorite Strikes in Nicaragua's Capita...
25       [Breaking: Soldier shot at National War Memori...
26       [Google to buy big chunk of Pacific Shores, ic...
27       [Canadian Soldier Shot At Ottawa War Memorial:...
28       [Iraqi social-media rumors claim IS leader slain]
29       [There has been a shooting at the War Memorial...
                               ...
49942    [20 year old burger?, McDonald's burger purcha...
49943    [Jihadi John: Mohammed Emwazi named as masked ...
49944      [Mum Offers to Sell Twin Boy to Save Twin Girl]
49945    [Shocking picture shows mother trying to sell ...
49946    [ISIS Militant “Jihadi John” Identified As You...
49947    [ISIS Executioner 'Jihadi John' Is Named as Mo...
49948    [Would you take a bite out of the world's olde...
49949    [#Hairgate: iPhone 6 users say device pulls ou...
49950    [That ESPN Domestic Violence Panel You Keep He...
49951    [Jihadi John UNMASKED: Islamic State killer NA...
49952    [Bergdahl: Senator Says Jihadists Swapped For ...
49953    [Man Known as ‘Jihadi John’ Is Identified as M...
49954    [Report: Taliban Detainee Swapped for Bowe Ber...
49955    [Taliban member swapped by Obama for Bowe Berg...
49956    [Is this the world's oldest burger?, Man claim...
49957    [No, ESPN is not having an all-male domestic v...
49958    [There was never a panel discussion on domesti...
49959      [ISIS executioner 'Jihadi John' named by media]
49960                              [World's oldest burger]
49961    [Is this the world's oldest burger?, Man claim...
49962    [Official: Gitmo prisoner traded for Bergdahl ...
49963    [Is Kim Jong-Un Really Opening a Restaurant in...
49964    [ESPN to save NFL's image with all-male domest...
49965    [Guantanamo detainee who was swapped in prison...
49966    [Pizza delivery driver surprised with $2,000 tip]
49967    [Pizza delivery man gets tipped more than $2,0...
49968                 [Pizza delivery man gets $2,000 tip]
49969    [Luckiest Pizza Delivery Guy Ever Gets $2,000 ...
49970    [Ann Arbor pizza delivery driver surprised wit...
49971    [Ann Arbor pizza delivery driver surprised wit...
Name: tokenized_heading_column, Length: 49972, dtype: object

In [54]:
articles_heading[0]

['Soldier shot, Parliament locked down after gunfire erupts at war memorial']

In [0]:
data_heading = np.zeros((len(texts),MAX_SENTS, MAX_SENT_LENGTH),dtype='int')

In [56]:
data_heading.shape

(49972, 20, 20)

In [0]:
exc1 = []
for i, sentences in enumerate(articles_heading):
  for j, sent in enumerate(sentences):
    if j < MAX_SENTS:
      wordTokens = text_to_word_sequence(sent)
      k = 0
      for _, word in enumerate(wordTokens):
        try:
          if k < MAX_SENT_LENGTH and tokenizer.word_index[word] < MAX_NB_WORDS:
            data_heading[i, j, k] = tokenizer.word_index[word]
            k = k + 1
        except:
          exc1.append(word)
          pass

In [58]:
data_heading.shape

(49972, 20, 20)

### Now the features are ready, lets make the labels ready for the model to process.

### Convert labels into one-hot vectors

You can use [get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) in pandas to create one-hot vectors.

In [0]:
labels = pd.get_dummies(train_merge_df['Stance'])

In [60]:
print('Shape of data tensor:', data.shape)
print('Shape of data heading tensor:', data_heading.shape)
print('Shape of label tensor:', labels.shape)

Shape of data tensor: (49972, 20, 20)
Shape of data heading tensor: (49972, 20, 20)
Shape of label tensor: (49972, 4)

### Check 4:

The shape of data and labels shoould match the given below numbers.

In [0]:
print('Shape of data tensor:', data.shape)
print('Shape of label tensor:', labels.shape)

Shape of data tensor: (49972, 20, 20)
Shape of label tensor: (49972, 4)

### Shuffle the data

In [61]:
labels.head()

   agree  disagree  discuss  unrelated
0      0         0        0          1
1      0         0        0          1
2      0         0        0          1
3      0         0        0          1
4      0         0        0          1

In [62]:
labels.values

array([[0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       ...,
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0]], dtype=uint8)

In [0]:
labels = labels.values

In [0]:
## get numbers upto no.of articles
indices = np.arange(data.shape[0])
## shuffle the numbers
np.random.shuffle(indices)

In [0]:
## shuffle the data
data = data[indices]
data_heading = data_heading[indices]
## shuffle the labels according to data
labels = labels[indices]

### Split into train and validation sets. Split the train set 80:20 ratio to get the train and validation sets.


Use the variable names as given below:

x_train, x_val - for body of articles.

x-heading_train, x_heading_val - for heading of articles.

y_train - for training labels.

y_val - for validation labels.

In [76]:
data.shape[0]

49972

In [77]:
49972*.2

9994.400000000001

In [0]:
X = data + data_heading

In [0]:
y = labels

In [0]:
x_train = data[:-9994]
x_val = data[-9994:]
y_train = labels[:-9994]
y_val = labels[-9994:]
x_heading_train = data_heading[:-9994]
x_heading_val = data_heading[-9994:]

In [79]:
print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

(39978, 20, 20)
(39978, 4)
(9994, 20, 20)
(9994, 4)

### Check 5:

The shape of x_train, x_val, y_train and y_val should match the below numbers.

In [0]:
print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

(39978, 20, 20)
(39978, 4)
(9994, 20, 20)
(9994, 4)

### Create embedding matrix with the glove embeddings


Run the below code to create embedding_matrix which has all the words and their glove embedding if present in glove word list.

In [68]:
# load the whole embedding into memory
embeddings_index = dict()
f = open('./glove.6B.100d.txt')
for line in f:
	values = line.split()
	word = values[0]
	coefs = np.asarray(values[1:], dtype='float32')
	embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))
vocab_size = len(tokenizer.word_index)

# create a weight matrix for words in training docs
embedding_matrix = np.zeros((vocab_size, 100))


for word, i in tokenizer.word_index.items():
	embedding_vector = embeddings_index.get(word)
	if embedding_vector is not None:
		embedding_matrix[i] = embedding_vector

Loaded 400000 word vectors.

# Try the sequential model approach and report the accuracy score. [10 marks]

### Import layers from Keras to build the model

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Embedding, LSTM, Bidirectional
from keras import Input, Model

### Model

In [70]:
vocab_size

33642

In [0]:
x_train = np.reshape(x_train, (x_train.shape[0], -1))
x_val = np.reshape(x_val, (x_val.shape[0], -1))

In [81]:
x_train.shape

(39978, 400)

In [0]:
y_train = np.reshape(y_train, (y_train.shape[0], 1, y_train.shape[1]))
y_val = np.reshape(y_val, (y_val.shape[0], 1, y_val.shape[1]))

In [86]:
y_train.shape

(39978, 1, 4)

In [87]:
model = Sequential()
model.add(Embedding(input_dim = vocab_size, output_dim = 100, weights=[embedding_matrix]))
model.add(Bidirectional (LSTM (100, return_sequences = True , dropout = 0.2, recurrent_dropout = 0.2), merge_mode='concat'))
model.add(Dense(64,activation='relu'))
model.add(Dense(4,activation='softmax'))

model.compile(loss='categorical_crossentropy',optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, None, 100)         3364200
_________________________________________________________________
bidirectional_4 (Bidirection (None, None, 200)         160800
_________________________________________________________________
dense_7 (Dense)              (None, None, 64)          12864
_________________________________________________________________
dense_8 (Dense)              (None, None, 4)           260
=================================================================
Total params: 3,538,124
Trainable params: 3,538,124
Non-trainable params: 0
_________________________________________________________________

### Compile and fit the model

In [88]:
model.fit(x_train, y_train, validation_data=(x_val, y_val))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 39978 samples, validate on 9994 samples
Epoch 1/1
39978/39978 [==============================] - 1945s 49ms/step - loss: 0.7444 - acc: 0.7366 - val_loss: 0.6578 - val_acc: 0.7662

## Build the same model with attention layers included for better performance (Optional)

## Fit the model and report the accuracy score for the model with attention layer (Optional)